//- 子菜单的小三角
mixin shape 
	span.shape
		i.line
		i.line.l2
		i.line.l3
		i.line.l4
		i.line.l5
		i.line.l6

//- head公用部分
mixin header(title,cssarr,navcfg)
	head
		meta(charset="utf-8")
		title #{title} 
		meta(name="Keywords",content="云信创富,云信官网,云信创富官网,北京云信创富,小微普惠,普惠金融,金融科技,互联网资产管理,资产管理,资产管理公司,创新资管,消费金融,房产抵押,资管服务")
		meta(name="Description",content="云信创富是一家响应国家号召成立的，专业从事普惠金融业务的资产管理公司。")
		link(href="favicon.ico",rel="shortcut icon")
		-each css in cssarr
			link(href= css,rel="stylesheet")
	body
		div.header
			div.inside
				h1
					a.logo(href="index.html") 云信创富
				ul.nav
					li
						a(href="index.html" class="#{navcfg.a[0]}") 首页

					li
						a(href="javascript:;" class="#{navcfg.b[0]}") 普惠金融
						p.subnav
							+shape
							img(src="img/common/subnav02.png")
							a(href="xwph-intro.html" class="#{navcfg.b[1]}") 小微普惠
							a(href="xwph-exam.html" class="#{navcfg.b[2]}") 优秀案例
					li
						a(href="javascript:;" class="#{navcfg.c[0]}") 金融科技
						p.subnav
							+shape
							img(src="img/common/subnav03.png")
							a(href="fintech.html" class="#{navcfg.c[1]}") 金融科技
							a(href="output.html" class="#{navcfg.c[2]}") 整合输出
							a(href="application.html" class="#{navcfg.c[3]}") 场景应用

					li
						a(href="javascript:;" class="#{navcfg.d[0]}") 企业聚焦
						p.subnav
							+shape
							img(src="img/common/subnav01.png")
							a(href="trade-news.html" class="#{navcfg.d[1]}") 行业动态
							a(href="trade-news.html" class="#{navcfg.d[2]}") 企业动态
							a(href="trade-news.html" class="#{navcfg.d[3]}") 媒体报道
					li
						a(href="about.html" class="#{navcfg.e[0]}") 关于我们
